table thead th {
    padding: 5px 8px;
    text-align: center;
}

table tbody td{
    padding: 2px 5px;
}

table tbody td:nth-child(n+4),
table tbody td:first-child {
    text-align: center;
}

table th,
td {
    border: 1px solid #B6B9BB36;
}